<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html"; cheraset=utf-8">
<title>在庫管理</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h2>商品登録（編集）</h2>
<form method="post" action="admin.php">
<table border="1">
    <tr>
        <td>商品ID</td>
        <td>!item_id!</td>
    </tr>
    <tr>
        <td>商品名</td>
        <td><input name="item_name" type="text" value="!item_name!"></td>
    </tr>
    <tr>
        <td>値段</td>
        <td><input type="text" name="item_price" value="!item_price!"></td>
    </tr>
        <td colspan="2"><input type="submit" name="sub" value="送信"></td>
</table>
<input type="hidden" name="mode" value="item">
<input type="hidden" name="state" value="update">
<input type="hidden" name="item_id" value="!item_id!">
</form>
<br>

<h2>商品一覧</h2>
<table border="1">
<tr><th>商品ID</th><th>商品名</th><th>値段</th><th>編集</th><th>削除</th></tr>
!item_data!
</table>
</body>
</html>